#gallery{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#gallery >h2, #gallery> p{
    text-align: center;
}

.gallery_wrapper{
    column-count: 3;
    column-gap: 2rem;
    margin: auto;
    width: 70%;
    margin-top: 1.5rem;
}
.gallery_wrapper> div{
    margin-bottom: 2rem;
    border-radius: 1rem;
    position: relative;
   height: auto;
    transition: .3s linear;
    background-color: rgba(0,0,0,0.5);
   
    overflow: visible;
} 


.gallery_wrapper LazyLoadImage{
  display: block!important;
    width: 100%;
    margin: 0!important;
    padding: 0!important;
    border-radius: 5px;
}
@media(max-width:1000px){
    :root{
      font-size: 18px;
    }
    .gallery_wrapper{
      column-count: 2;
      
    }
  }

  @media(max-width:680px){
    :root{
      font-size: 16px;
    }
    .gallery_wrapper{
      column-count: 1;
      
    }
}